@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,700');

/*html {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  background: #000 url("http://www.misucell.com/data/out/12/IMG_533861.gif");
  background-attachment: fixed;
  color: #fdf253;
}*/

.App {
text-align: center;
}

.App-logo {
animation: App-logo-spin infinite 10s linear;
height: 80px;
}

.App-header {
background-color: #222;
padding: 20px;
color: white;
}

.App-title {
font-size: 2em;
}

@keyframes App-logo-spin {
from { transform: rotate(0deg); }
to { transform: rotate(360deg); }
}

.charact{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  /*width: 10rem;
  height: 15rem;*/
}

.charact img{
  background-color: black;
  margin: 5px;
  border-radius: 5px;
  border: 0.3rem inset #fdf253;
  float: left;
  width:250px;
  height: 300px;
}

.searchbar-container{
  text-align: center;
}

/***********************FOOTER CSS************************+*/

footer {
background-color: rgba(0, 0, 0, 0.9);
min-height: 80PX;
color: #FFF;
}
footer p {
margin: 0;
font-size: .90em;
/*line-height: 3rem;*/
padding-bottom: 10px;
}
h6{
  display: inline-block;
  margin-right: 20px;
}
span{
  color: #fdf253;
}
